POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=localhost
ENV_API_BASE_URL=http://127.0.0.1:8000/
ENV_SHOP_BOT_TOKEN=ADKAMV1281239127hNADKAd
ENVIRONMENT=development
ENV_SENTRY_TOKEN=YOUR/SENTRY/TOKEN
ENV_WEBHOOK_URL=YOUR_URL
ENV_SUPERADMIN_USERS=""
